.form_container {
    width: calc(100% - 9rem);
    max-width: 960px;
    justify-self: center;
    margin-block-start: 5.25rem
}

.form_container {
    display: grid;
    grid-template-columns: max-content 1fr
}

.form_contact {
    margin-inline-end: 3rem;
    width: 360px
}

.form_contact .form_header {
    margin-block-end: 1.5rem;

    h1 {
        width: fit-content;
        font-size: 2rem;
        font-family: Clash Grotesk;
        font-weight: 600;
        letter-spacing: .01lh;
        text-box-trim: trim-both;
    }

    p {
        width: fit-content;
        font-size: 1rem;
        font-family: Satoshi;
        letter-spacing: .005lh;
        text-box-trim: trim-both;
    }
}

.form_contact form {
    width: 100%;
    display: inline-grid;
    grid-auto-flow: row;
    align-items: start;
    gap: 1rem;

    .form_item {
        display: inline-grid;
        grid-auto-flow: row;
        align-items: start;
        gap: .375rem;

        label i {
            color: var(--input_invalid);
            font-style: normal;
            margin-inline-start: .25lh;
        }

        .error__message {
            width: fit-content;
            font-size: .75rem;
            font-family: Satoshi;
            font-weight: 600;
            letter-spacing: .005lh;
            text-box-trim: trim-both;
            color: var(--input_invalid);
        }
    }

    >button {
        width: fit-content;
        display: inline-grid;
        grid-auto-flow: column;
        justify-content: center;
        align-items: center;
        padding: .5rem 1rem;
        gap: .5rem;
        font-size: 1rem;
        font-family: Satoshi;
        font-weight: 400;
        letter-spacing: .005lh;

        svg {
            width: .75rem;
            height: .75rem;
        }

        .dds__loading-indicator {
            height: 100%;
            justify-content: center;
            align-items: center;
            justify-items: center;
            display: grid;
            grid-template: ". top ." auto "left center right" auto ". bottom ." auto;
        }

        .dds__loading-indicator__spinner {
            grid-area: center;
            position: relative;
            border-radius: 50%;
            animation: spin .92s infinite linear;
            border: .188rem solid color-mix(in srgb, var(--Nll_White-col) 25%, var(--Nll_Brand-col) 75%);
            border-left: .188rem solid var(--Nll_Focus-col);
            width: 1.25rem;
            height: 1.25rem;
            margin: auto;
            z-index: 1;
        }
    }

    .success-message p {
        width: fit-content;
        font-size: 1rem;
        font-family: Satoshi;
        letter-spacing: .005lh
    }
}

.aside_container {
    display: inline-grid;
    grid-template-rows: max-content 1fr
}

.brands h3,
.address h3 {
    font-size: 1.5rem;
    font-family: Satoshi;
    letter-spacing: .01lh;
    margin-block-end: .5lh
}

.qxigfptd {
    position: relative;
    height: 2.813rem
}

.slider_cont {
    position: absolute;
    width: 100%
}

.g_map {
    mix-blend-mode: multiply;
    width: 100%;
    height: calc(100% - 3rem);

    iframe {
        width: 100%;
        height: 100%;
        border-radius: 24px;
        overflow: clip;
        vertical-align: top
    }
}

@keyframes spin {
    0% {
        rotate: 0
    }

    to {
        rotate: 360deg
    }
}