.products-container {
  display: grid;
  grid-template-columns: min-content 1fr;
  position: relative;
  max-height: -webkit-fill-available;


  .filter-sidebar {
    position: relative;
    width: 22.5rem;
    height: -webkit-fill-available;
    background-color: var(--white_color);
    z-index: 997;
  }

  /* .filter-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100dvw;
    height: calc(100dvh - 81px);
    background-color: color-mix(in srgb, var(--black_color-fix) 50%, transparent 50%);
    opacity: 0;
    transition: opacity 480ms ease;
    z-index: 99;
  } */

  .products-content {
    padding: 16px;
    background-color: unset;
    width: 100%;
    max-width: 1440px;
    margin-inline: auto;
  }

  .products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    margin-bottom: 32px;
  }

  .search-section {
    margin-bottom: 24px;

    .search-input {
      width: 100%;
      padding: 0.75rem 1rem;
    }
  }
}

@media screen and (max-width: 899.98px) {
  .products-container {
    grid-template-columns: auto;

    .filter-sidebar {
      left: -100%;
      transition: left 480ms ease;
      position: fixed;
      overflow: hidden auto;

      &.active {
        left: 0;

        /* &+.filter-backdrop {
          opacity: 1;
        }

        &~.products-content {
          position: fixed;
        } */
      }
    }
  }

  .filter__container {
    top: 0;
  }
}