:root {
    --Nll_Red-blood: oklch(0.6012 0.2159 29.32);
    --Nll_Blue-gum: oklch(0.5067 0.2298 261.73);
    --Nll_Green-leaf: oklch(0.8082 0.2543 140.67);
}

article.card-item {
    margin: 0 1rem 2rem;
    height: fit-content;
    position: relative;

    [data-product-top] {
        display: block;
        width: 100%;
        height: 100%;
        aspect-ratio: 16 / 9;
        margin-block-end: 0.75rem;
        border-radius: 0.313rem;
        position: relative;
        overflow: clip;

        [data-product-badge] {
            width: fit-content;
            position: absolute;
            bottom: 0; left: 0;
            z-index: 12;
            padding: 0.5rem 1rem;
            border-top-right-radius: 0.313rem;
            color: var(--white_color);
            background-color: var(--mid_color);
            .badge-container {
                font-size: 1rem;
                font-family: "Satoshi";
                font-weight: 600;
                letter-spacing: 0.005lh;
                text-box-trim: trim-both;
            }
        }

        [data-product-model] {
            width: fit-content;
            position: absolute;
            top: 0.5rem; right: 0.5rem;
            z-index: 12;
            [data-model], span {
                display: block;
                text-align: right;
                font-size: 0.75rem;
                font-family: "Satoshi";
                font-weight: 700;
                letter-spacing: 0.008lh;
                color: var(--black_color-fix);
                text-box-trim: trim-both;
            }
                span {
                font-size: 0.75rem;
                font-weight: 400;
                color: oklch(0.22 0 174.66);
            }
        }

        [data-product-badge="new"] { color: var(--black_color); background-color: var(--Nll_Green-leaf); }
        [data-product-badge="discount"] { color: var(--white_color); background-color: var(--Nll_Blue-gum); }
        [data-product-badge="sold-out"] { color: var(--white_color); background-color: var(--Nll_Red-blood); }

        &::before {
            content: '';
            position: absolute;
            top: 0; left: 0;
            right: 0; bottom: 0;
            background-color: color-mix(in srgb, #000 25%, transparent 75%);
        }
        &::after {
            content: '';
            position: absolute;
            top: 0; left: 0;
            right: 0; bottom: 0;
            background-color: white;
            z-index: -999;
        }
    }

    &:hover [data-product-top] img {
        scale: 1.12;
    }

    img {
        width: 100%; height: 100%;
        position: relative;
        object-fit: contain;
        vertical-align: middle;
        user-select: none;
        transition: all 240ms cubic-bezier(0.06,0.06,0,1);
        z-index: -12;
    }

    [data-product-info] .\:nll-clamp {
        -webkit-line-clamp: 2;
        line-clamp: 2;
    }

    [data-product-info] h2 {
        color: var(--black_color);
        font-size: 1rem;
        font-family: "Satoshi";
        font-weight: 400;
        letter-spacing: 0.005lh;
        margin-block-end: 0.36lh;
        text-box-trim: trim-both;
    }

    [data-product-details] {
        width: 100%;
        display: inline-grid;
        grid-auto-flow: column;
        align-items: center;
        justify-content: space-between;
        [data-product-price] {
            width: fit-content;
            display: inline-grid;
            grid-auto-flow: column;
            align-items: baseline;
            gap: 0.25rem;
        }

        [data-product-price] {
            font-size: 1rem;
            font-family: "Satoshi";
            font-weight: 600;
            letter-spacing: 0.005lh;
            text-box-trim: trim-both;
            .product-old-price {
                font-size: 0.75rem;
                text-decoration: line-through;
                color: var(--Nll_Mid-black);
            }
        }

        [data-shopcard-add] {
            border: none;
            background-color: var(--black_color);
            width: fit-content;
            font-size: 1rem;
            font-weight: 500;
            letter-spacing: 0.005lh;
            color: var(--white_color);
            padding: 0.5rem 1rem;
            border-radius: 0.25rem;
        }
    }
}

[data-model]::before {
    content: attr(data-model);
}

[country-code] {
    font-size: 0.625rem;
    font-family: "Satoshi";
    letter-spacing: 0.005lh;
    text-box-trim: trim-both;
    &::after {
        content: attr(country-code);
    }
}