.header_carrousel, .skeleton__carrousel {
    width: 100%;
    height: 38dvw;
    position: relative;
    align-content: end;
    background-color: var(--skeleton-base);
    overflow: clip;
    z-index: 0;

    img {
        position: absolute;
        top: 0; left: 0;
        height: 100%;
        z-index: -9999;
        object-fit: cover;
    }

    &:not(.skeleton__carrousel):before {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(0deg, #00000080, #0000);
        z-index: -9998;
    }

    .header_info-wrapper {
        width: calc(100% - 6rem);
        max-width: 1440px;
        margin: auto;
        padding-block-end: 3rem;
        color: var(--white_color-fix);

        h1 {
            font-size: 4rem;
            line-height: 4rem;
            text-box-trim: trim-both;
            font-family: Clash Grotesk;
            font-weight: 600;
            letter-spacing: .01lh;
        }

        p {
            font-size: 1rem;
            text-box-trim: trim-both;
            font-family: Satoshi;
            font-weight: 400;
            color: color-mix(in srgb, var(--white_color-fix) 92%, #000 8%);
        }

        [data-btn] {
            display: inline-grid;
            grid-auto-flow: column;
            margin-block-start: 1rem;
            align-items: center;
            gap: 0.5rem;
            font-size: 1.25rem;
            font-family: Satoshi;
            font-weight: 600;

            svg {
                width: .75rem;
                height: .75rem;
            }

            &:hover .artboard {
                animation: slide-arrow .64s cubic-bezier(.06, .06, 0, 1) both;
            }
        }
    }

    .header_nav-wrapper {
        display: grid;
        width: fit-content;
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        gap: 1.5rem;

        ul {
            display: inline-grid;
            grid-auto-flow: column;
            align-items: center;
        }

        .carrosel_dot {
            all: inherit;
            width: 1rem;
            height: 1rem;
            margin-inline: .5rem;
            cursor: pointer;

            svg {
                width: 100%;
                height: 100%;

                circle {
                    fill: color-mix(in srgb, currentColor 33%, currentColor 0%);
                }

                .active-slide {
                    stroke: var(--black_color-fix);
                    stroke-width: 4px;
                    stroke-linecap: round;
                    stroke-dasharray: 1;
                    stroke-dashoffset: .5;
                }
            }
        }

        .carrousel_arrow {
            padding-inline: .5rem;
            cursor: pointer;

            svg {
                width: 1.25rem;
                height: 1.25rem;
            }
        }

        .carrousel_arrow-right {
            place-self: self-end;
        }
    }
}

.header_image {
    opacity: 0;
    transform: scale(1.02);
    transition: opacity 720ms cubic-bezier(.06, .06, 0, 1), transform 1240ms cubic-bezier(.06, .06, 0, 1);
    &.active {
        opacity: 1;
        transform: scale(1);
    }
}

.header_contents {
    margin-block-end: 2rem;
    transition: all .64s cubic-bezier(.06, .06, 0, 1) .32s;
}

.carrosel_dot.active .progress-bar {
    fill: transparent;
    stroke: var(--white_color-fix);
    stroke-width: 4px;
    stroke-linecap: round;
    transform: rotate(-90deg);
    transform-origin: center;
    transition: stroke-dashoffset .05s linear;
}

@media screen and (max-width: 899.98px) {
    .header_carrousel, .skeleton__carrousel {
        height: 100dvw;

        .header_info-wrapper {
            width: calc(100% - 10.666903709dvw);
            padding-block-end: 5.3334518545dvw;

            .header_contents {
                margin-block-end: 7.1112691393dvw;
            }

            p {
                font-size: 3.1111802484dvw;
                line-height: 3.1111802484dvw;
            }

            h1 {
                font-size: 9.555767906dvw;
                line-height: 9.555767906dvw;
            }

            [data-btn] {
                padding: 1.7778172848dvw 3.5556345697dvw;
                margin-block-start: 2.6667259272dvw;
                gap: 1.7778172848dvw;
                font-size: 4.4445432121dvw;

                svg {
                    width: 2.6667259272dvw;
                    height: 2.6667259272dvw;
                }
            }
        }

        .header_nav-wrapper {
            max-width: 53.3345185449dvw;
            gap: 2.6667259272dvw;

            .carrousel_arrow {
                padding-inline: 1.7778172848dvw;

                svg {
                    width: 4.4445432121dvw;
                    height: 4.4445432121dvw;
                }
            }

            .carrosel_dot {
                width: 3.5556345697dvw;
                height: 3.5556345697dvw;
                margin-inline: 1.7778172848dvw;
            }
        }
    }
}