.filter__container {
	padding: 1rem 1rem;
	position: sticky;
	top: 81px;
	user-select: none;
}

.filter__clear {
	margin-block-end: 1.25rem;
	color: var(--black_color);

	p {
		font-family: "Satoshi";
		margin-block-end: 0.38lh;
	}
}

.select__order-filter {
	margin-block-end: 1.25rem;
	color: var(--black_color);

	label {
		display: inline-block;
		font-family: "Satoshi";
		margin-block-end: 0.38lh;
	}

	select,
	option {
		font-family: "Satoshi";
		width: 100%;
	}
}

.products__info {
	margin-block-end: 1.25rem;
	color: var(--black_color);

	p {
		font-family: "Satoshi";
	}

	.products__total-items {
		font-size: 1rem;
		font-family: "Satoshi";
		font-weight: 600;
		letter-spacing: 0.005lh;
		text-box-trim: trim-both;
	}

	.products__total-items {
		font-weight: 400;
		color: var(--Nll_Mid-black);
	}
}

.filter__section {
	font-size: 1rem;
	font-family: "Satoshi";
	font-weight: 600;
	letter-spacing: 0.005lh;
	text-box-trim: trim-both;
	text-align: center;
	color: var(--black_color);

	.filter__header {
		display: grid;
		align-items: center;
		grid-template-columns: 1fr 1.25rem;
		padding-block: 0.75rem;
	}

	.filter__content {
		margin-block: 0.5rem;

		&.oculto {
			display: none;
		}
	}

	.filter__items {
		padding: 0rem 0.875rem;

		.option-item {
			display: grid;
			grid-template-columns: max-content 1fr;
			align-items: center;
			gap: 0.5rem;

			&:not(:first-child) {
				margin-block-start: 0.875rem;
			}

			input[type="checkbox"]:checked~.option-label {
				color: var(--black_color);
				font-weight: 700;
			}

			.option-label {
				font-optical-sizing: none;
    			font-optical-sizing: auto;
				font-size: 0.875rem;
				font-weight: 500;
				font-family: 'Satoshi';
				color: var(--Nll_Mid-black);
				text-box-trim: trim-both;
				transition: color 120ms ease-in-out, font 120ms ease-in-out;
			}
		}
	}
}

.range__price-inputs {
	--gap: 0.5rem;
	display: grid;
	grid-template-columns: calc(calc(50% - var(--gap)) - 4px) max-content calc(calc(50% - var(--gap)) - 4px);
	gap: var(--gap);
	align-items: center;
	padding: 0rem 0.875rem;

	.filter__range input {
		width: 100%;
	}
}

.colors__grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(1.5rem, 1fr));
	gap: 0.5rem;
	padding: 0rem 0.875rem;

	.color-muestra {
		width: 1.5rem;
		height: 1.5rem;
		border-radius: 99rem;
		outline: 1px solid transparent;
		cursor: pointer;
		transition: outline-color 240ms ease, box-shadow 240ms ease;

		&[title="Blanco"],
		&[title="Transparente"] {
			outline-color: var(--input_outline);
		}

		&.seleccionado {
			outline-color: #0066cc;
			box-shadow: 0 0 0 3.5px rgba(0, 102, 204, 0.2);
		}
	}
}

.\:hd-tag {
	height: 0;
	overflow: clip;
	display: flow-root;
}

.\:sp-line {
	color: var(--input_outline);
}